/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
    line-height: 1.5em;
    box-sizing: border-box;
}

a {
    display: block;
	color: inherit;
	text-decoration: none;
}

a > img {
    vertical-align: top;
}

ul, ol, li {
	list-style: none;
}

/* 라이브러리 */
.container {
    position: relative;
    width: 90%;
    max-width: 1400px;  
    margin: 0 auto;
}

/*************** 스타일 ***************/
html {
    font-size: 20px;
}

/*** 헤더 시작 ***/
header {
    height: 100px;
}

header > .top-wrap.pc-ver {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: inherit;
    padding: 0 3%;
    background-color: transparent;
}

header > .top-wrap.pc-ver.top::before {
    height: 0;
}

header > .top-wrap.pc-ver::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    display: block;
    content: "";

    width: 100%;
    height: 100px;
    background-color: #fff;
    transition: 0.4s;
}

header > .top-wrap.pc-ver > .logo > a {
    width: 165px;
    height: 55px;
    background: url(../img/header/logo.png) center / cover no-repeat;
}

header > .top-wrap.pc-ver.top > .logo > a {
    background: url(../img/header/logo_w.png) center / cover no-repeat;
}

header > .top-wrap.pc-ver.top > .menu {
    color: #fff;
}

header > .top-wrap.pc-ver > .menu {
    color: #000;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

header > .top-wrap.pc-ver > .menu > ul {
    display: flex;
    justify-content: space-between;
}

header > .top-wrap.pc-ver > .menu > ul > li + li {
    margin-left: 60px;
}

/* 메인 > 인트로 시작 */
.main-wrap {
    margin-top: -100px;
    background: url(../img/list/square02.png) 0 80% / 40% no-repeat;
}

.main-wrap > .intro {
    width: 100%;
    height: 100vh;
    background: url(../img/intro/main.jpg) center / cover no-repeat ;
    padding: 130px 0;
}

.main-wrap > .intro > .container {
    height: 100%;
}

.main-wrap > .intro > .container > h3 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 71px;
    font-weight: normal;
    line-height: 1.2em;
    color: #fff
}

.main-wrap > .intro > .container > h3 > b {
    color: #9024ff;
    font-family: 'Noto Sans', sans-serif;
    transition: opacity 1.5s linear, transform 1s;
}

.main-wrap > .intro > .container > p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.87rem;
    color: #fff;
    transition: opacity 2s .5s linear;
}

/* 메인 > 리스트 시작 */
.main-wrap > .list {
    margin-top: 80px;
    background: url(../img/list/square01.png) 110% -10% / 40% no-repeat;
    height: 7562px;
}

.main-wrap > .list > .dot {
    position: relative;
    display: block;
    width: 1px;
    margin: 0 auto;
    background-color: #000;
    height: 100px;
}

.main-wrap > .list > .dot::before {
    content: "";
    position: absolute;
    top: calc(100% - 14px);
    left: 50%;
    width: 14px;
    height: 14px;
    margin: 0 0 0 -7px;
    background-color: #000;
    transition: 0.8s cubic-bezier(0.5, 0.3, 0.3, 1);
}

.main-wrap > .list > .container {
    margin-top: 50px;
}

.main-wrap > .list > .container > ul {
    display: flex;
    flex-wrap: wrap;
}

.main-wrap > .list > .container > ul > li {
    color: #666;
    width: 48%;
    margin: 4% 0 0 4%;
    padding-right: 4%;
    font-size: 18px;
    transition: all .5s ease-in-out;
}

.main-wrap > .list > .container > ul > li:nth-child(odd) {
    margin-left: 0;
}

.main-wrap > .list > .container > ul > li:nth-child(even) {
    margin-top: 6%;
    transition-delay: .3s;
}

.main-wrap > .list > .container > ul > li:nth-child(4n+1),
.main-wrap > .list > .container > ul > li:nth-child(4n+2) {
    padding: 0 0 0 4%;
}

.main-wrap > .list > .container > ul > li > a {
    position: relative;
    display: block;
    height: 0;
    padding-top: 65%;
    margin-bottom: 20px;
    overflow: hidden;
}

.main-wrap > .list > .container > ul > li > a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.main-wrap > .list > .container > ul > li > a:hover::after {
    opacity: 1;
}

.main-wrap > .list > .container > ul > li > a > span {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 130px;
    line-height: 130px;
    margin-top: -65px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: #fff;
    background: url(../img/list/shp_arrow_w.png) bottom center no-repeat;
    opacity: 0;
}

.main-wrap > .list > .container > ul > li > a:hover > span {
    opacity: 1;
}

.main-wrap > .list > .container > ul > li > a > span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 5px;
    margin-left: -25px;
    background-color: #9024ff;
    transform: scaleX(0);
}

.main-wrap > .list > .container > ul > li > a:hover > span::before {
    transform: scaleX(1);
    transition: transform .5s .2s;
}

.main-wrap > .list > .container > ul > li > a > span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 46px;
    height: 19px;
    margin-left: -23px;
}

.main-wrap > .list > .container > ul > li > a > img {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50%;
    width: 100%;
}